
<h1>This is Address Partial View</h1>
<table>
    <tr>
        <td>
            Flat No:
        </td>
    </tr>
    <tr>
        <td>
            vcbfghf
        </td>
    </tr>
    <tr>
        <td>
            Area
        </td>
    </tr>
    <tr>
        <td>
            City
        </td>
    </tr>
    <tr>
        <td>
            State
        </td>
    </tr>
    <tr>
        <td>
            Country
        </td>
    </tr>
</table>
